/* contained */
.muiltr-370b5p-MuiButtonBase-root-MuiButton-root {
	color: white;
	border-radius: 7px;
	background-color: #00abc8;
}

.muiltr-370b5p-MuiButtonBase-root-MuiButton-root:hover {
	background-color: #02798d;
}

/* outlined */
.muiltr-bjdztq-MuiButtonBase-root-MuiButton-root {
	border-color: #00abc8;
	border-radius: 7px;
	color: #00abc8;
}

/* button type text */
.muiltr-w3cj8e-MuiButtonBase-root-MuiButton-root {
	color: #00abc8;
}

/* textfield */
.muiltr-c9j379-MuiInputBase-root-MuiOutlinedInput-root {
	border-color: #02798d;
	border-radius: 7px;
}

.muiltr-c9j379-MuiInputBase-root-MuiOutlinedInput-root:hover {
	border-color: #02798d;
}

/* .muiltr-n5tsn5-MuiList-root .fuse-list-item:hover {
	background-color: #00b2d01a;
}

.fuse-list-item.active {
	background-color: #00b2d01a !important;
} */

.muiltr-154j6x2-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 0;
}

.muiltr-9hzkmq-MuiButtonBase-root-MuiButton-root {
	background-color: #00abc8;
	color: white;
}

.muiltr-9hzkmq-MuiButtonBase-root-MuiButton-root:hover {
	background-color: #02798d;
	color: white;
}

/* .active {
	color: pink !important;
} */
