.muiltr-10eaqvy-MuiButtonBase-root-MuiListItemButton-root {
	color: #636363;
}

.muiltr-10eaqvy-MuiButtonBase-root-MuiListItemButton-root:hover {
	color: #02798d;
}

.muiltr-10eaqvy-MuiButtonBase-root-MuiListItemButton-root.active {
	color: #02798d;
	background-color: #02798d;
}

.muiltr-4gho3n-MuiList-root.open {
	color: #636363;
}

.muiltr-pwcg7p-MuiCollapse-root {
	color: #636363;
}
